<div id='preview-contents' class='note-content'>
                        
                    



<h4 id="基础function匿名函数和实名函数">基础：Function：匿名函数和实名函数</h4>

<p></p>

<blockquote>
  <p><code>实名函数：</code>有函数名的 <br>
  <code>匿名函数：</code>没有函数名的</p>
  
  <ul><li><p>函数表达式：把函数当做值赋值给变量或者元素的事件</p></li>
  <li><p>自执行函数：创建和执行一起完成的</p></li>
  <li><p>…</p></li>
  </ul>
</blockquote>



<pre class="prettyprint hljs-dark"><code class="language-javascript hljs"><div class="hljs-line"><span class="hljs-comment">/*function fn() {</span>
</div><div class="hljs-line"><span class="hljs-comment"></span>
</div><div class="hljs-line"><span class="hljs-comment">}*/</span>
</div><div class="hljs-line"><wbr>
</div><div class="hljs-line"><span class="hljs-comment">//=&gt;函数表达式</span>
</div><div class="hljs-line"><span class="hljs-comment">/*var fn = function () {</span>
</div><div class="hljs-line"><span class="hljs-comment"></span>
</div><div class="hljs-line"><span class="hljs-comment">};</span>
</div><div class="hljs-line"><span class="hljs-comment">oBox.onclick = function () {</span>
</div><div class="hljs-line"><span class="hljs-comment"></span>
</div><div class="hljs-line"><span class="hljs-comment">};*/</span>
</div><div class="hljs-line"><wbr>
</div><div class="hljs-line"><span class="hljs-comment">//=&gt;自执行函数</span>
</div><div class="hljs-line">(<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">i</span>) </span>{
</div><div class="hljs-line"><wbr>
</div><div class="hljs-line">})(<span class="hljs-number">10</span>);
</div><div class="hljs-line">~<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
</div><div class="hljs-line"><wbr>
</div><div class="hljs-line">}();
</div><div class="hljs-line">+<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
</div><div class="hljs-line"><wbr>
</div><div class="hljs-line">}();
</div><div class="hljs-line">!<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
</div><div class="hljs-line"><wbr>
</div><div class="hljs-line">}();
</div></code></pre></div>